@use "sass:color";
@use "~/styles/vars" as *;

@import "~/styles/reset.scss";

@font-face {
  font-family: "ApfelGrotezk";
  src: url("/fonts/ApfelGrotezk-Mittel.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "ApfelGrotezk";
  src: url("/fonts/ApfelGrotezk-Fett.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.no-wrap {
  white-space: nowrap;
}

$sans: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, Arial, sans-serif;

html {
  overflow: hidden;
  position: fixed;
  font-size: 0.835vh;
  line-height: 1.35;
  letter-spacing: -0.05rem;
  background-color: black;
  width: 100vw;
  height: 100vh;
  font-family: "ApfelGrotezk", $sans;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include from(sm) {
    font-size: 1.1vw;
  }

  @include from(md) {
    font-size: .95vw;
  }

  @include from(lg) {
    font-size: 0.785vw;
  }

  @include from(xl) {
    font-size: 14px;
  }

  @media screen and (max-height: 700px) and (min-aspect-ratio: 16/9) {
    font-size: 1.5vh;
  }
}

.popover img {
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.mobileOnly,
.desktopOnly {
  display: none;
}

.mobile .mobileOnly {
  display: inline-block;
}

.desktop .desktopOnly {
  display: inline-block;
}

/* Color overrides */

#outer.hideFingers {
  #bgText {
    background-color: #fff;
    color: #444;
  }
  #light {
    opacity: 0;
    box-shadow: 0;
    box-shadow: inset 0 0 100px 100px rgba(#f8d68f, 0.9), 0 0 200vw 200vw rgba(#f8d68f, 0.9);
  }
  #fingerWrap {
    opacity: 0;
    transition: none;
  }
  .hover.green {
    color: color.scale(#6dc999, $lightness: -10%);
  }
  .hover.yellow {
    color: color.scale(#f8d68f, $lightness: -20%);
  }
  .hover.blue {
    color: #4db7d0;
  }
}
